<h1>grunt-bourbon-neat-boilerplate</h1>
<p>This boilerplate runs on <a href="http://gruntjs.com/">Grunt</a> and <a href="http://bower.io/">Bower</a> while utilizing the following libraries:</p>
<ul>
  <li><a href="http://assemble.io/">Assemble</a></li>
  <li><a href="http://bourbon.io/">Bourbon</a></li>
  <li><a href="http://neat.bourbon.io/">Neat</a></li>
  <li><a href="http://requirejs.org/">RequireJS</a></li>
  <li><a href="http://modernizr.com/">Modernizr</a></li>
  <li><a href="http://jquery.com/">jQuery</a></li>
</ul>